<% if @content[:errors].any? %>
  <p><b><%= l(:label_jenkins_version) %></b> : <%= @content[:version] %></p>
  <p><b><%= l(:label_jenkins_jobs_count) %></b> : <%= @content[:jobs_count] %></p>
  <pre>
    <% @content[:errors].each do |error| %>
    <%= error %>
    <% end %>
  </pre>
<% else %>
  <p><b><%= l(:label_jenkins_version) %></b> : <%= @content[:version] %></p>
  <p><b><%= l(:label_jenkins_jobs_count) %></b> : <%= @content[:jobs_count] %></p>
<% end %>
