<%= paginate @jenkins_builds, :reverse        => false,
                              :remote         => true,
                              :next_label     => '&raquo;',
                              :previous_label => '&laquo;',
                              :param_name     => :page,
                              :class          => 'pagination pagination-small pagination-centered',
                              :params         => {
                                                   :controller => 'jenkins_jobs',
                                                   :action     => 'history',
                                                } %>

<table class="table table-hover">
  <th><%= l(:label_build_number) %></th>
  <th><%= l(:label_build_result) %></th>
  <th><%= l(:label_finished_at) %></th>

  <% @jenkins_builds.each do |build| %>
    <tr>
      <td>
        <span class="label label-info">
          <%= link_to "##{build.number}", build.url %>
        </span>
      </td>
      <td>
        <span class="label label-<%= state_to_css_class(build.result) %>">
          <%= build.result.capitalize %>
        </span>
        <% if build.result == 'running' %>
          <span class="icon icon-running"></span>
        <% end %>
      </td>
      <td>
        <%= format_time build.finished_at %>
      </td>
    </tr>
  <% end %>
</table>
