- present job do |p|
  %tr{ id: p.job_id }
    %td= p.job_info
    %td= p.latest_build_infos
    %td= p.job_state
    %td= p.latest_build_duration
    %td= p.latest_changesets
    %td= p.build_history
    %td= p.job_actions
