<%= stylesheet_link_tag 'bootstrap_custom', :plugin => 'redmine_bootstrap_kit' %>

<% if !@is_xhr %>
  <h2><%= l(:label_edit_jenkins_job) %></h2>
<% end %>

<%= labelled_form_for :jenkins_jobs, @job,
                      :url  => { :controller => 'jenkins_jobs', :action => 'update', :id => @project },
                      :html => { :method => :put, :class => 'tabular', :remote => @is_xhr } do |f| %>

  <div id="validation_messages_job"><%= error_messages_for 'job' %></div>

  <p>
    <%= f.select :name, options_for_select(@jobs.collect {|job| [job, job]}, [@job.name, @job.name]), :label => l(:field_job_name) %>
  </p>

  <p>
    <%= f.select :repository_id, options_for_select(@project.repositories.collect {|r| [ r.identifier.blank? ? 'default' : r.identifier, r.id ]},
                                                                                  [@job.repository.identifier.blank? ? 'default' : @job.repository.identifier, @job.repository.id]) %>
  </p>

  <% if !@is_xhr %>
    <%= submit_tag l(:button_save), :disable_with => l(:label_backup_in_progress) %>
    <%= link_to l(:button_cancel), url_for(:controller => 'projects', :action => 'settings', :id => @project, :tab => 'jenkins') %>
  <% end %>
<% end %>
