= labelled_form_for :jenkins_jobs, @job,
                    url:  jenkins_job_path(@project, @job),
                    html: { method: :put, class: 'tabular', remote: true } do |f|

  .flash-messages= error_messages_for 'job'

  %p= f.select :name, options_for_select(@jobs.collect {|job| [job, job]}, [@job.name, @job.name]), {}, { disabled: true }
  %p= f.select :repository_id, options_for_select(@project.repositories.collect {|r| [ r.identifier.blank? ? 'default' : r.identifier, r.id ]}, render_selected_repo(@job))
  %p= f.text_field :builds_to_keep
