= labelled_form_for :jenkins_jobs, @job,
                    url:  jenkins_jobs_path(@project),
                    html: { method: :post, class: 'tabular', remote: true } do |f|

  .flash-messages= error_messages_for 'job'

  %p= f.select :name, options_for_select(@jobs.collect {|job| [job, job]}), label: l(:field_job_name)
  %p= f.select :repository_id, options_for_select(@project.repositories.collect {|r| [ r.identifier.blank? ? 'default' : r.identifier, r.id ]})
  %p= f.text_field :builds_to_keep
