- if jobs.empty?
  .nodata= l(:label_no_data)

- else

  #job-info{ class: 'flash notice', style: 'display: none;' }
  #job-error{ class: 'flash error', style: 'display: none;' }

  %table{ class: 'table table-hover' }
    %thead
      %tr
        %th= l(:label_job_name)
        %th= l(:label_latest_build)
        %th= l(:label_job_state)
        %th= l(:label_job_duration)
        %th= l(:label_last_changesets)
        %th= l(:label_job_history)
        %th

    %tbody
      - jobs.each do |job|
        - present job do |p|
          %tr{ id: p.job_id }
            %td= p.job_info
            %td= p.latest_build_infos
            %td= p.job_state
            %td= p.latest_build_duration
            %td= p.latest_changesets
            %td= p.job_history
            %td= p.job_actions

  :javascript
    $(document).ready(function() {
      initModalBoxes(modals);
    });
