<% if @jobs.empty? %>
  <div class="nodata"><%= l(:label_no_data) %></div>
<% else %>

  <%= javascript_tag do %>
    var modals           = Object();
    modals.label_save    = '<%= l(:button_save) %>';
    modals.label_cancel  = '<%= l(:button_cancel) %>';
    modals.label_ok      = '<%= l(:button_ok) %>';
    modals.modal_list    = [];
    modals.modal_list[0] = {'source': '.modal-box', 'target': '#modal-box', 'mode': 'standard'};
    modals.modal_list[1] = {'source': '.modal-box-close-only', 'target': '#modal-box-close-only', 'mode': 'close-only'};

    $(document).ready(function() {
      initModalBoxes(modals);
    });
  <% end %>

  <div id="job-info"  class="flash notice" style="display:none;"></div>
  <div id="job-error" class="flash error"  style="display:none;"></div>

  <div id="modal-box"></div>
  <div id="modal-box-close-only"></div>

  <table class="table table-hover">
    <tr>
      <th><%= l(:label_job_name) %></th>
      <th><%= l(:label_latest_build) %></th>
      <th><%= l(:label_job_state) %></th>
      <th><%= l(:label_job_duration) %></th>
      <th><%= l(:label_last_changesets) %></th>
      <th><%= l(:label_job_history) %></th>
      <th></th>
    </tr>

    <% @jobs.each do |job| %>
      <%= render :partial => 'jenkins_jobs/job_solo', :locals => {:job => job} %>
    <% end %>
  </table>
<% end %>
